<body>

  <% if @success_delete %>
      <%= @success_delete %>
      <br><br>
  <% end %>

  <h2>All Recipes by <%= @user.username %>: </h2>

  <% if @user.recipes.length == 0 %>
    <p>Doesn't look like you have any recipes yet!</p>
  <% else %>
    <% @user.recipes.each do |recipe| %>
      <% if recipe.user_id == @user.id && !recipe.name.blank? %>
        <ul><li><b><a href="/recipes/<%= recipe.id %>"><%= recipe.name.titleize %></a></b> - "<%= recipe.content.titleize %>" (Last updated: <%= recipe.updated_at.strftime('%c')%>)</li></ul>
      <% elsif recipe.name.blank? %>
        <ul><li>Missing recipe name - <a href="/recipes/<%= recipe.id %>">edit here</a></li></ul>
      <% end %>
    <% end %>
  <% end %>

  <br><br>

  <p>Create a <a href="/recipes/new">new recipe</a>!</p>

</body>
