<label></label>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <label><b>Update name: </b></label>
  <input id="update_recipe" type="text" name="recipe[name]" placeholder="<%=@recipe.name%>">

  <br><br>

  <label><b>Update ingredient: </b></label>
  <input id="update_ingredient" type="text" name="ingredient[name]" placeholder="<%=@ingredient.name%>">

  <br><br>

  <input type="submit" value="update">
</form>

<label></label>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label><b>Add ingredient: </b></label>
  <input id="new_ingredient" type="text" name="ingredient[name]" placeholder="new ingredient">

  <br><br>

  <input type="submit" value="add">
</form>

<br><br>

<p>Don't like what you see?</p>
<p>Delete recipe: <b><%=@recipe.name%></b></p>

<form action="/recipes" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
</form>
