<body>
  
  <% if @recipe_failure %>
      <%= @recipe_failure %>
  <% end %>

  <h2>Edit "<%= @recipe_name %>":</h2>

  <label></label>
  <form action="/recipes/<%= @recipe.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <label><b>Update recipe name: </b></label>
    <input id="new_recipe" type="text" name="recipe[name]" placeholder="<%= @recipe_name %>">

    <br><br>

    <p>Previous recipe headline: "<%= @recipe.content %>"</p>
    <label><b>Update headline: </b></label>
    <input id="new_content" type="text" name="recipe[content]" placeholder="Recipe Headline:">

    <br><br>

    <p>Previous directions: "<%= @recipe.directions %>"</p>
    <label><b>Update directions: </b></label>
    <input id="new_directions" type="text" name="recipe[directions]" placeholder="Directions:">

    <br><br>

    <input type="submit" value="update">
  </form>

  <br><br>

</p>Back to <a href="/recipes/<%= @recipe.id %>">Recipe</a></p>
</body>
