<body>
  <% if @success_create %>
      <%= @success_create %>
  <% end %>

  <% if @success_update %>
      <%= @success_update %>
  <% end %>

  <% if !@recipe.name.blank? %>
    <h2><a href="/recipes/<%= @recipe.id %>/edit"><%= @recipe_name %></a></h2>
  <% else %>
    <h3> Oops <%= @user.username %>, missing recipe name! </h3>
  <% end %>

  <% if !@recipe.content.blank? %>
    <h3><a href="/recipes/<%= @recipe.id %>/edit">Recipe Headline</a>: "<%= @recipe_content %>"</a></h3>
  <% else %>
    <p> Oops <%= @user.username %>, missing headline! <a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a></p>
  <% end %>

  <h3><a href="/recipes/<%= @recipe.id %>/ingredients">Ingredients</a>:</h3>

  <% if !@recipe.recipe_ingredients.blank? %>
    <% @recipe.recipe_ingredients.each do |ingredient| %>
      <ul><li><%= ingredient.quantity %> - <%= ingredient.name.titleize %></a></li></ul>
    <% end %>
  <% else %>
    <p> Oops <%= @username %>, you don't have ingredients. <a href="/recipes/<%= @recipe.id %>/ingredients/new">Add ingredients</a></p>
  <% end %>

  <h3><a href="/recipes/<%= @recipe.id %>/edit">Directions</a>:</h3>
  <% if !@recipe.directions.blank? %>
    <ul><li><%= @recipe_directions %></li></ul>
  <% else %>
    <p> Oops <%= @username %>, missing directions! <a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a></p>
  <% end %>

  <br><br>

  <p>Delete recipe <b><%= @recipe_name %></b>?</p>

  <form action="/recipes/<%= @recipe.id %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="delete">

    <input type="submit" value="delete">
  </form>

  <br><br>

  <p>Back to <a href="/recipes">All Recipes</a></p>

</body>
