<body>
  <% if !@recipe.name.blank? %>
    <h2>Recipe: <%= @recipe_name %></h2>
  <% else %>
    <h3> Oops <%= @user.username %>, missing recipe name! </h3>
  <% end %>

  <% if !@recipe.content.blank? %>
    <h3>Recipe Headline:</h3><p><%= @recipe.content.capitalize %></p>
  <% else %>
    <p> Oops <%= @user.username %>, missing headline! <a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a></p>
  <% end %>


  <br><br>

  <h3>Ingredients: </h3>

  <% if !@recipe.recipe_ingredients.blank? %>
    <% @recipe.recipe_ingredients.each do |ingredient| %>
      <ul><li><a href="/ingredients/<%= ingredient.id %>/edit"><%= ingredient.quantity %> - <%= ingredient.name.titleize %></a></li></ul>
    <% end %>
  <% else %>
    <p> Oops <%= @user.username %>, you don't have ingredients. <a href="/recipes/<%= @recipe.id %>/ingredients/new">Add ingredients</a></p>
  <% end %>

  <h3>Directions: </h3>
  <% if !@recipe.directions.blank? %>
    <p><%= @recipe.directions.capitalize %></p>
  <% else %>
    <p> Oops <%= @user.username %>, missing directions! <a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a></p>
  <% end %>

  <br><br>

  <br><br>

  <p>Back to <a href="/recipes">All Recipes</a> // <a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a></p></p>

</body>
