<body>
  <h2>Locavore Kitchen App</h2>

  <h3>Curent account info: </h3>
  <h4>Username: <%= @user.username %></h4>
  <h4>Name: <%= @user.name %></h4>
  <h4>Email: <%= @user.email %></h4>
  <h4>State: <%= @user.state %></h4>
  <h4>Description: <%= @user.content %></h4>

  <br><br>

  <label>Update account info:</label>
  <form action="/show" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <br><br>

    <label>State: </label>
    <input type="text" id="state" name="state" placeholder="state postal code">

    <label>Description: </label>
    <input type="text" id="content" name="content" placeholder="about you">

    <br><br>

    <input type="submit" value="update">
  </form>


  <p>Return to <a href="/show">Home</a> or <a href="/logout">Log Out</a></p>
</body>
