<body>
  <h1>Locavore Kitchen App</h1>

  <h2>Hi <%= @user.username %>, edit your account info: </h2>

  <label></label>
  <form action="/show" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <p>Not located in <b><%= @user.state %></b> ?<p>

    <b><label>State: </label></b>
    <input type="text" id="state" name="state" placeholder="ex. NY, NJ, PA, etc.">

    <p>Update about you: <%= @user.username %> loves <%= @user.content %></p>

    <b><label><%= @user.username %> loves: </label></b>
    <input type="text" id="content" name="content" placeholder="<%= @user.username %> loves:">

    <br><br>

    <input type="submit" value="update">
  </form>

  <br><br>

  <p>Return to <a href="/show">Home</a> or <a href="/logout">Log Out</a></p>
</body>
