<body>
  <h2>Hi <%= @user.username %>, edit your account info: </h2>

  <% if @user_failure %>
    <%= @user_failure %>
  <% end %>

  <label></label>
  <form action="/account" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <% if params[:state] == nil || params[:state] == "" %>
      <p>Let users know what state you're from! Add below:</p>
    <% else %>
      <p>Not located in <b><%= @user.state %></b> ?<p>
    <% end %>

    <b><label>State: </label></b>
    <input id="new_state" type="text"  name="state" placeholder="ex. NY, NJ, PA, etc.">

    <br><br>

    <% if params[:bio] == nil || params[:bio] == "" %>
      <p>What do you love about being a locavore? Add below:</p>
    <% else %>
      <p>Previous about you: <%= @user.username %> loves <b><%= @user.bio %></b> ...</p>
    <% end %>

    <b><label><%= @user.username %> loves: </label></b>
    <input id="new_bio" type="text"  name="bio" placeholder="<%= @user.username %> loves:">

    <br><br>

    <input type="submit" value="update">
  </form>

</body>
