<body>
  <h2>Welcome, <%= @user.username %>!</h2>

  <h2>Your account info: </h4>

  </p><a href="/edit_account">Update</a> your account info:</p>

  <h4>Username: <%= @user.username %></h4>
  <h4>Name: <%= @user.name %></h4>
  <h4>Email: <%= @user.email %></h4>
  <h4>State: <%= @user.state %></h4>
  <h4>Description: <%= @user.content %></h4>


  <h2>Your Recipes:</h2>

  <% @user.recipes.each do |recipe|%>
     <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>

  <br><br>

  <% if @user.recipes.name == "" %>
      <p>Recipe name is missing, update <a href="/recipes/edit">here!</a></p>
  <% end %>

  <% if @user.recipes.length == 0 %>
      <p>Oops, doesn't look like you have any recipes yet!</p>
  <% end %>

  </p>Create a new recipe <a href="/recipes/new">here</a>!</p>

  <p><a href="/logout">Log Out</a></p>
</body>
