<body>
  <h2>Account info: </h2>

  <h4>Username: <%= @user.username %></h4>
  <h4>Name: <%= @user.fname.titleize %> <%= @user.lname.titleize %></h4>
  <h4>Email: <%= @user.email %></h4>

  <h2>About you: <h2>
  <h4>State: <%= @user.state %></h4>
  <h4><%= @user.username %> loves: <%= @user.bio %></h4>

  <p>Update <a href="/edit">About You</a></p>
</body>
