<body>
  <h1>Locavore Kitchen App</h1>

  <h2>Welcome, <%= @user.username %>!</h2>

  <% if @recipes.length == 0 %>
      <p>Doesn't look like you have any recipes yet!</p>
      <p>Create a <a href="/new_recipe">new recipe</a>!</p>
  <% elsif @recipes.length != 0 %>
      <p>Review all your <a href="/all_recipes">Recipes</a> here!</p>
  <% end %>

  <br><br>

  <h2>Account info: </h2>

  <h4>Username: <%= @user.username %></h4>
  <h4>Name: <%= @user.name %></h4>
  <h4>Email: <%= @user.email %></h4>

  <h2>About you: <h2>
  <h4>State: <%= @user.state %></h4>
  <h4><%= @user.username %> loves: <%= @user.content %></h4>

  <p>Update <a href="/edit_account">About You</a></p>

  <br><br>

  <p><a href="/logout">Log Out</a></p>
</body>
