<body>
  <% if !@recipe.name.blank? %>
    <h3>Recipe: <%= @ingredient_name %></h3>
  <% else %>
    <h3> Oops <%= @user.username %>, missing recipe name! </h3>
  <% end %>

  <h3>Ingredients: </h3>

  <ul><li><%= @recipe_quantity%> - <%= @recipe_ingred %></li></ul>

  <% @recipe.recipe_ingredients.each do |i| %>
    <ul><li><%= i.name%></li></ul>
  <% end %>

  <% @recipe.recipe_ingredients.each do |i| %>
    <ul><li><%= i.quantity%></li></ul>
  <% end %>



  <h3>Description:</h3>
  <p>"<%= @recipe.content.capitalize %>"</p>

  </p><a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a></p>

  <br><br>

  <p>Back to <a href="/recipes">Recipes</a></p>

</body>
