<body>
  <h2>Ingredient: <%= @recipe_ingredient.name.titleize %></h2>

  <% if @recipe_failure %>
      <%= @recipe_failure %>
  <% end %>

  <br><br>

  <form action="/recipes/<%= @recipe.id %>/ingredients/<%= @recipe_ingredient.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">

    <label><b>Update ingredient: </b></label>
    <input id="new_ingredient" type="text" name="ingredient[name]" placeholder="<%= @recipe_ingredient.name.titleize %>">

    <label><b>Edit quantity: </b></label>
    <input id="new_quantity" type="text" name="recipe_ingredient[quantity]" placeholder="<%= @recipe_ingredient.quantity %>">

    <br><br>

    <input type="submit" value="update">
  </form>

  <p>OR</p>

  <p>Delete ingredient: <b><%= @recipe_ingredient.name.titleize %></b></p>

  <form action="/ingredients/<%= @recipe_ingredient.id %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="delete">

    <input type="submit" value="delete">
  </form>

</body>
