<body>
  <h2>Recipe: <%= @recipe_name %></h2>

  <h3>Edit Ingredients or <a href="/recipes/<%= @recipe.id %>/ingredients/new">Add ingredients</a></h2>

  <% if !@recipe.recipe_ingredients.empty? %>
    <% @recipe.recipe_ingredients.each do |ingredient| %>
      <ul><li><a href="/recipes/<%= ingredient.recipe_id %>/ingredients/<%= ingredient.id %>/edit"><%= ingredient.quantity %> - <%= ingredient.name.titleize %></a></li></ul>
    <% end %>
  <% else %>
    <p> Oops <%= @user.username %>, you don't have ingredients.</p>
  <% end %>

  <br><br>
  </p>Back to <a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a></p>
</body>
