<body>

  <h3>Search by <a href="/community/ingredients">Ingredient</a></h3>

  <br><br>

  <% if !@recipes.empty? %>
    <h3>Posts by Locavore Community: </h3>
    <% @recipes.each do |recipe| %>
      <% if !recipe.content.empty? %>
        <ul><li><a href="/community/recipes/<%= recipe.id %>"><%= recipe.name.titleize %></a> - "<%= recipe.content.titleize %>"</li></ul>
      <% else %>
        <ul><li><a href="/community/ecipes/<%= recipe.id %>"><%= recipe.name.titleize %></a></li></ul>
      <% end %>
    <% end %>
  <% end %>

</body>
